<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin Pannel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md sticky-top navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
            <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;Guramrit's E-Commerce</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" style="color:#ffffff;" href="signup">Welcome, Administrator</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" data-bs-hover-animate="bounce" style="color:#ffffff;" href="signup"><form method="post" action="/logout"><input type="submit" value="logout" class="logout"/></form></a></li>
                    </ul>
            </div>
    </div>
    </nav>
    </div>
    <nav class="navbar">
        <div class="container">
            
            <button type="button" class="btn btn-primary" onclick="merchant_req()" aria-selected="true">Merchant data</button>
            <p id="user_info"></p>
            <button type="button" class="btn btn-primary" onclick="customer_req()">Customer data</button>
        </div>
    </nav>

<div class="container">
    <table class="table" id="user_table">
        <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
        <tbody id="table_data">
            
        </tbody>
    </table>
</div>
<div class="edit_form" id="edit_form">
    <div class="container profile profile-view" id="profile">
        <form class="form" action="/updateCustomer" method="POST" id="myform">
            <div class="form-row profile-row">
                <div class="col-md-8">
                    <h1>Update Record</h1>
                    <hr>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Firstname </label><input class="form-control" type="text" name="firstname" id="update_name"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Lastname </label><input class="form-control" type="text" name="lastname" id="update_lastname"></div>
                        </div>
                    </div>
                    <div class="form-group"><label>Email </label><input class="form-control" type="email" name="email" readonly id="update_email"></div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-10">
                            <div class="form-group"><label>address</label><input class="form-control" type="text" name="address" id="update_address"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-10">
                            <div class="form-group"><label>Phone</label><input class="form-control" type="tel" maxlength="10" name="number" id="update_phone"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="button" id="send_button" >SAVE </button>
                            <button class="btn btn-danger form-btn" type="button" onclick="formclose()">CANCEL</button></div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="script.js"></script>

</body>
</html>